@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --blanco: #fff;
    --sobre-menu: #f5f5dcc4;
    --bg-menu: #A6BDDC;
    --bg-body: #c7e1ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--blanco);
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
}

nav{
    position: fixed;
    height: max-content;
}

.menu-dashboard{
    color: var(--blanco);
    position: relative;
    margin: 5px;
    max-width: 150px;
    min-height: 98.5vh;
    background: var(--bg-menu);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: max-width .3s ease;
}

.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menu-dashboard .logo{
    display: flex;
    align-items: center;
}

.top-menu .logo img{
    width: 70px;
    transition: width .3s ease;
}

.top-menu .logo span{
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle{
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i{
    font-size: 35px;
}

.list__item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu .enlace{
    width: 100%;
    padding: 15px 0 15px 9px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.menu .CS{
    width: 73.34%;
    height: 7%;
    padding: 15px 0 15px 9px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
    transition: .3s ease;
    position: absolute;
    bottom: 10px;
}

.menu .enlace:hover, .menu .CS:hover{
    background: var(--sobre-menu);
    color: black;
}

.menu .enlace a , .menu .CS a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.menu .enlace i, .menu .CS i{
    margin-right: 15px;
    font-size: 22px;
}

.menu .enlace span, .menu .CS span, .menu .list__item .bi-arrow-down{
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open{
    max-width: 300px;
}

.menu-dashboard.open .top-menu span{
    display: block;
}

.menu-dashboard.open .menu .enlace {
    width: auto;
    padding: 10px;
}

.menu-dashboard.open .menu .CS {
    width: 86.67%;
    padding: 10px;
}

.menu-dashboard.open .menu .enlace span, 
.menu-dashboard.open .menu .CS span,
.menu-dashboard.open .list__item .bi-arrow-down {
    opacity: 1;
}

/**********************************/

.nav__link{
    display: block;
    padding: 10px 0;
    margin: 5px;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: var(--bg-menu);
}


.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}


.arrow .bi-arrow-down{
    transform: rotate(180deg);
}

.bi-arrow-down{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid;
    transition: height .4s;
    height: 0;
}

.list__show li{
    list-style: none;
}

.menu-dashboard:not(.open) .enlace a,
.menu-dashboard:not(.open) .CS a {
    opacity: 0;
    pointer-events: none;
}

.menu-dashboard:not(.open) .enlace .inicio,
.menu-dashboard:not(.open) .enlace .datos,
.menu-dashboard:not(.open) .CS .cerrarS {
    opacity: 1;
}

.list__button:not(.arrow) + ul {
    display: none;
}
