@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --primary-color: #A6BDDC;
    --background-color: #fffdfa; 
    --rosa: #FFB6C1;
    --gris: #f5f5dcb2; /*Para el hover*/
    --negro: #000000;
    --lilaClaro: #D9A2E3; 
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}